source https://www.nuget.org/api/v2
framework: >= net45
redirects: on

nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget Microsoft.CodeAnalysis.Workspaces.Common
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.FileSystemGlobbing
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.PlatformAbstractions
nuget System.Collections.Immutable
nuget System.IO.FileSystem.Watcher
nuget System.Threading.Thread